<% include header %>
<div class="hero-unit">
	<% if(locals.success){ %>
		<div class="container">
			<h3>Account password changed!</h3>
			<h4>&nbsp;</h4>
			<p>Your account password has been successfully changed. You can now login to Timeninja using the new password.</p>
			<h4>&nbsp;</h4>
			<a href="/login?e=<%= email %>" class="btn btn-large btn-success">Login Now</a>
		</div>
	<% } else if(locals.error && ['reset_code_required','reset_code_invalid','reset_code_expired'].indexOf(error) > -1) { %>
		<div class="container">
			<h3>Something went wrong!</h3>
			<h4>&nbsp;</h4>
			<p>
				<% if(error == 'reset_code_required'){ %>
				A reset code is required to complete resetting your password. Please click the link in the reset email, or copy-paste the entire link into your browser.
				<% } else if(error == 'reset_code_invalid'){ %>
				The reset link was invalid. Please click the link in the reset email, or copy-paste the entire link into your browser.
				<% } else if(error == 'reset_code_expired'){ %>
				The reset link from your email expired. <a href="/reset-password?e=<%= email %>">Click here</a> to send yourself a new password reset email, and click the link in it within the next 24 hours.
				<% } %>
			</p>
		</div>
	<% } else { %>
		<form action="/user/change-password" method="POST" novalidate>
			<div class="control-group container" id="cg-password1" data-validate="password">
				<div class="controls input-prepend controls-tall">
					<label for="password1" class="add-on">Password<i class="icon-locked"></i></label>
					<input type="password" id="password1" name="new1" class="input-xxlarge" placeholder="correct-horse-battery-staple" value="<%= new1 || '' %>" data-focus="1"></input>
				</div>
			</div>
			<div class="control-group container" id="cg-password2" data-validate="password" data-validate-equals="#password1">
				<div class="controls input-prepend controls-tall">
					<label for="password2" class="add-on">Password<i class="icon-locked"></i></label>
					<input type="password" id="password2" name="new2" class="input-xxlarge" placeholder="Re-enter password" value="<%= new2 || '' %>" data-focus="2"></input>
				</div>
			</div>
			<input type="hidden" name="code" value="<%= code %>"></input>
			<input type="hidden" name="_csrf" value="<%= csrf %>"></input>
			<button type="submit" class="btn btn-large btn-success" id="btn-signup">Change Password</button>
		</form>
	<% } %>
</div>
<script type="text/javascript">
	$(window).ready(function(){
		<% if(locals.error && ['reset_code_required','reset_code_invalid','reset_code_expired'].indexOf(error) == -1){ %>			
			<% if(locals.error_type && error_type == 'pass1'){ %>
				app.showValidationError('#cg-password1', '<%= error %>'<% if(locals.email){ %>, {'email': '<%= email %>'}<% } %>);
			<% } else if(locals.error_type && error_type == 'pass2'){ %>
				app.showValidationError('#cg-password2', '<%= error %>'<% if(locals.email){ %>, {'email': '<%= email %>'}<% } %>);
			<% } else if(!locals.error_type){ %>
				app.showValidationError('#cg-password2', '<%= error %>'<% if(locals.email){ %>, {'email': '<%= email %>'}<% } %>, false);
			<% } %>
		<% } %>
	});
</script>
<% include footer %>