<% include header %>
<% if(locals.error){ %>
<div class="hero-unit">
	<div class="container">
		<h3>Something went wrong!</h3>
		<h4>&nbsp;</h4>
		<p>Something went wrong while trying to retreive your dashboard. This is definitely our fault. Try again, and if you're still having problems <a href="mailto:support@timeninja.net">contact support</a>.</p>
		<h4>&nbsp;</h4>
	</div>
</div>
<% } else{ %>
	<div class="container">
		<div class="hero-unit dashboard">
		<div class="row-fluid dashboard-content-holder row1">
				<div class="span4 dashboard-content-unit">
					<h4>Usage</h4>
					<div><canvas class="gauge" id="gg-usage"></canvas></div>
					<h4><%= plan.requests.current %> of <%= plan.requests.max %> monthly requests</h4>
				</div>
				<div class="span8 dashboard-content-unit" id="api-info-holder">
					<h4>API Information</h4>
					<form id="api-info" novalidate data-nosubmit="true">
						<div class="control-group">
							<div class="controls input-prepend controls-tall">
								<label for="apikey" class="add-on">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Key<i class="icon-key"></i></label>
								<input type="text" id="apikey" name="api_key" class="input-xlarge" value="<%= api.key %>" disabled></input>
							</div>
						</div>
						<div class="control-group">
							<div class="controls controls-tall">
								<a href="/user/regenerate-keys" class="btn btn-success">Regenerate</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row-fluid dashboard-content-holder">
				<div class="span12 dashboard-content-unit">
					<h4>Account Information</h4>
					<form novalidate data-nosubmit="true">
						<div class="control-group">
							<div class="controls input-prepend input-append controls-tall">
								<label for="email" class="add-on">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email<i class="icon-mail"></i></label>
								<input type="email" id="email" name="email" class="input-xxlarge" placeholder="you+tag@example.com" value="<%= user.email %>" disabled></input>
								<a href="/user/change-email" class="btn btn-success" id="btn-email">Change</a>
							</div>
						</div>
						<div class="control-group">
							<div class="controls input-prepend input-append controls-tall">
								<label for="password" class="add-on">Password<i class="icon-locked"></i></label>
								<input type="password" id="password" name="password" class="input-xxlarge" placeholder="correct-horse-battery-staple" value="password" disabled></input>
								<a href="/reset-password?e=<%= user.email %>" class="btn btn-success" id="btn-email">Reset</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<% if(locals.environment && environment == 'development'){ %>
		<script src="/js/gauge.js"></script>
	<% } else{ %>
		<script src="/js/gauge.min.js"></script>
	<% } %>
	<script type="text/javascript">
		var opts = {
			lines: 12,
			angle: 0,
			lineWidth: 0.25,
			pointer: {
				length: 0.5,
				strokeWidth: 0.025,
				color: '#000000'
			},
			limitMax: 'false',

			colorStart: '#f89406',
			colorStop: '#f89406',
			strokeColor: '#eeeeee',
			generateGradient: true
		};
		var target = document.getElementById('gg-usage');
		var gauge = new Gauge(target).setOptions(opts);
		gauge.maxValue = <%= plan.requests.max %>;
		gauge.animationSpeed = 21;
		gauge.set(<%= plan.requests.current || 0.1 %>);
	</script>
<% } %>
<% include footer %>