<% include header %>
<div class="container">
	<div class="row-fluid">
		<div class="span12 accordian" id="acc-docs">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-docs" href="#ab-generic">
						General Information
					</a>
				</div>
				<div id="ab-generic" class="accordion-body collapse accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-generic" href="#ab-input">
								Mandatory Input Parameters
							</a>
						</div>
						<div id="ab-input" class="accordion-body collapse">
							<div class="accordion-inner">
								All API requests must have the following mandatory parameters set:
								<p><strong>api_key:</strong> API key of the Timeninja account used to make the api calls. You can obtain this from your <a href="/user/dashboard">dashboard</a>.<br>
								Type: String. Mandatory: Yes.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-generic" href="#ab-inputtime">
								Input Time
							</a>
						</div>
						<div id="ab-inputtime" class="accordion-body collapse">
							<div class="accordion-inner">
								Any date-time string you provide as input is considered to be wallclock time in the specified timezone. If no timezone is specified, then it is considered to be UTC time.
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-generic" href="#ab-output">
								Common Output Parameters
							</a>
						</div>
						<div id="ab-output" class="accordion-body collapse">
							<div class="accordion-inner">
								<p><strong>code:</strong> Response code for the request you made. <a data-toggle="collapse" href="/docs#ab-responsecodes">Response code details</a>.<br>
									Type: Integer. Possible values: 200, 400, 401, 404, 429, 500.</p>
								<p><strong>usage:</strong> Object representing your API usage. <a data-toggle="collapse" href="/docs#ab-usage">Details here</a>.</p>
								<p><strong>result:</strong> Object representing the result of your API call.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-generic" href="#ab-error">
								Error Properties
							</a>
						</div>
						<div id="ab-error" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>When an API request fails (returns any response other than 200), that request does not count towards your API usage.</p>
								<p>In addition whenever an API request fails, the response json contains the following properties:</p>
								<p><strong>error:</strong> A short textual error message.</p>
								<p><strong>message:</strong> A longer, detailed message explaining why an error occurred and how to resolve the error.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-docs" href="#ab-endpoints">
						API Endpoints
					</a>
				</div>
				<div id="ab-endpoints" class="accordion-body collapse accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-endpoints" href="#ab-convert">
								Timezone Conversions
							</a>
						</div>
						<div id="ab-convert" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="description">
									Converts any given date-time in a particular timezone into the corresponding time in another timezone. For all date-times, the historical timezone offset and DST rules applicable at that date-time are used to perform the conversion.
								</div>
								<div class="api">
									<div class="endpoint"><strong>GET:</strong> http://www.timeninja.net/api/convert</div>
									<div class="input">
										<strong>INPUT</strong>
										<p><strong>from:</strong>The date-time string representing the time and timezone which is to be converted to the target timezone.<br>
										Type: <a data-toggle="collapse" href="/docs#ab-datetime">Date-Time</a> formatted string. Mandatory: Yes</p>
										<p><strong>to:</strong> Target timezone into which the 'from' date-time is to be converted. If not specified default value of 'UTC' will be used.<br>
										Type: String. Mandatory: No. Default: 'UTC'. Accepted Values: <a href="/docs/timezones">Check here</a></p>
										<p><strong>format:</strong> String specifying the format in which converted date-time is to be output.<br>
										Type: <a data-toggle="collapse" href="/docs#ab-formatstring">Format</a> String. Mandatory: No. Default: 'YYYY-MM-DDThh:mm:ss.00o'</p>
									</div>
									<div class="output">
										<strong>OUTPUT</strong>
										<p><strong>utc:</strong> UTC time corresponding to the 'from' time specified.<br>
										Type: String formatted as per 'format' parameter.</p>
										<p><strong>wallclock:</strong> Wallclock time at the target timezone corresponding to the 'from' time specified. Usually, the wallclock time is the time you will be requiring.<br>
										Type: String formatted as per 'format' parameter.</p>
										<p><strong>standard:</strong> Standard time at the target timezone corresponding to the 'from' time specified. Standard time disregards changes made due to DST rules.<br>
										Type: String formatted as per 'format' parameter.</p>
									</div>
								</div>
								<div class="example">
									<strong>EXAMPLE</strong>
									<div class="request"><strong>Request</strong>: http://www.timeninja.net/api/convert?from=2000-1-15 5:30:00 Africa/Juba&format=ddd YY-M-D h:m:s z&to=America/Chicago?api_key=xxxxxxxxxxxxxxxxxxxx</div>
									<div class="response"><strong>Response:</strong><div class="json">{
  "usage": {
    "max": 10000,
    "used": 9030,
    "available": 970
  },
  "code": 200,
  "result": {
    "utc": "Sat 2000-1-15 07:30:0 UTC Z",
    "standard": "Sat 2000-1-15 13:0:0 Asia/Kolkata +05:30",
    "wallclock": "Sat 2000-1-15 13:0:0 Asia/Kolkata +05:30"
  }
}</div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-endpoints" href="#ab-arith">
								Time Arithmetic
							</a>
						</div>
						<div id="ab-arith" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="description">
									Adds or subtracts the given time-string from the given date-string and converts the result to the timezone specified in the time-string.
								</div>
								<div class="api">
									<div class="endpoint"><strong>GET:</strong> http://www.timeninja.net/api/add</div>
									<div class="endpoint"><strong>GET:</strong> http://www.timeninja.net/api/subtract</div>
									<div class="input">
										<strong>INPUT</strong>
										<p><strong>date:</strong> The date-time string representing the time and timezone which is to be converted to the target timezone.<br>
										Type: <a data-toggle="collapse" href="/docs#ab-datetime">Date-Time</a> formatted string. Mandatory: Yes</p>
										<p><strong>time:</strong> The time-string representing the time to be added or subtracted from the date-string specified as 'date'. If no timezone mentioned, defaults to timezone for 'date'.<br>
										Type: <a data-toggle="collapse" href="/docs#ab-time">Time</a> formatted string. Mandatory: Yes.</p>
										<p><strong>format:</strong> String specifying the format in which converted date-time is to be output.<br>
										Type: <a data-toggle="collapse" href="/docs#ab-formatstring">Format</a> String. Mandatory: No. Default: 'YYYY-MM-DDThh:mm:ss.00o'</p>
									</div>
									<div class="output">
										<strong>OUTPUT</strong>
										<p><strong>utc:</strong> UTC time corresponding to the resultant time after addition/subtraction.<br>
										Type: String formatted as per 'format' parameter.</p>
										<p><strong>wallclock:</strong> Wallclock time at the target timezone corresponding to the resultant time. Usually, the wallclock time is the time you will be requiring.<br>
										Type: String formatted as per 'format' parameter.</p>
										<p><strong>standard:</strong> Standard time at the target timezone corresponding to the resultant time. Standard time disregards changes made due to DST rules.<br>
										Type: String formatted as per 'format' parameter.</p>
									</div>
								</div>
								<div class="example">
									<strong>EXAMPLE</strong>
									<div class="request"><strong>Request</strong>: http://www.timeninja.net/api/add?date=2000-1-15 11:30:00 Africa/Juba&format=ddd YYYY-MM-D hh:m:s z o&time=-2:0:0 America/Chicago&api_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
									<div class="response"><strong>Response:</strong><div class="json">{
    "usage": {
        "max": 10000,
        "used": 9033,
        "available": 967
    },
    "code": 200,
    "result": {
        "utc": "Sat 2000-01-15 07:30:0 UTC Z",
        "standard": "Sat 2000-01-15 01:30:0 America/Chicago -6:00",
        "wallclock": "Sat 2000-01-15 01:30:0 America/Chicago -6:00"
    }
}</div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-endpoints" href="#ab-diff">
								Date and Time Difference
							</a>
						</div>
						<div id="ab-diff" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="description">
									Returns the difference in seconds between the two date-time strings provided (date1-date2).
								</div>
								<div class="api">
									<div class="endpoint"><strong>GET:</strong> http://www.timeninja.net/api/diff</div>
									<div class="input">
										<strong>INPUT</strong>
										<p><strong>date1:</strong> The date-time string representing the first time and timezone.<br>
										Type: <a data-toggle="collapse" href="/docs#ab-datetime">Date-Time</a> formatted string. Mandatory: Yes</p>
										<p><strong>date2:</strong> The date-time string representing the second time and timezone.<br>
										Type: <a data-toggle="collapse" href="/docs#ab-datetime">Date-Time</a> formatted string. Mandatory: Yes</p>
									</div>
									<div class="output">
										<strong>OUTPUT</strong>
										<p><strong>diff:</strong> Difference between date1 and date2 in seconds. If date1 is after date2 this will be negative.</p>
									</div>
								</div>
								<div class="example">
									<strong>EXAMPLE</strong>
									<div class="request"><strong>Request</strong>: http://www.timeninja.net/api/diff?date1=2000-1-15 14:30:00 Africa/Juba&date2=2000-1-15 13:30:00 Africa/Juba&api_key=xxxxxxxxxxxxxxxxxxxxxxxxx</div>
									<div class="response"><strong>Response:</strong><div class="json">{
    "usage": {
        "max": 10000,
        "used": 9034,
        "available": 966
    },
    "code": 200,
    "result": {
        "diff": 3600
    }
}</div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-endpoints" href="#ab-day">
								Day of Week
							</a>
						</div>
						<div id="ab-day" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="description">
									Returns the day of the week for the specified date.
								</div>
								<div class="api">
									<div class="endpoint"><strong>GET:</strong> http://www.timeninja.net/api/day</div>
									<div class="input">
										<strong>INPUT</strong>
										<p><strong>date:</strong> The date-time string representing the first time and timezone.<br>
										Type: <a data-toggle="collapse" href="/docs#ab-datetime">Date-Time</a> formatted string. Mandatory: Yes</p>
									</div>
									<div class="output">
										<strong>OUTPUT</strong>
										<p><strong>day_index:</strong> The integer representation of the day as used in most software packages. Possible values 0-6 representing days of week Sunday-Saturday.</p>
										<p><strong>iso_day_index:</strong> The integer representation of the day as used in ISO 8601 specification. Possible values 1-7 representing days of week Monday-Sunday.</p>
										<p><strong>day:</strong> The English name of the day as used in the Gregorian calender. Possible values: Sunday, Monday, Tuesday, Wednesday, Thursday, Friday and Saturday.</p>
										<p><strong>short_day:</strong> The short version (first three letters) of the English name of the day as used in the Gregorian calender. Possible values: Sun, Mon, Tue, Wed, Thu, Fri and Sat.</p>
									</div>
								</div>
								<div class="example">
									<strong>EXAMPLE</strong>
									<div class="request"><strong>Request</strong>: http://www.timeninja.net/api/day?date=2013-3-3 12:12:12 Asia/Nicosia&api_key=xxxxxxxxxxxxxxxxxxx</div>
									<div class="response"><strong>Response:</strong><div class="json">{
    "usage": {
        "max": 10000,
        "used": 9035,
        "available": 965
    },
    "code": 200,
    "result": {
        "day_index": 0,
        "day": "Sunday",
        "iso_day_index": 7,
        "short_day": "Sun"
    }
}</div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-docs" href="#ab-inputformats">
						Input Formats
					</a>
				</div>
				<div id="ab-inputformats" class="accordion-body collapse accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-inputformats" href="#ab-formatstring">
								Format String
							</a>
						</div>
						<div id="ab-formatstring" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>A string representing the format in which a date, time or date-time is to be represented. Has the following components:<br>
								<strong>YYYY/YY:</strong> Four or two character representation of the year.<br>
								<strong>MM/M:</strong> Two or one character representation of the month. If 'M' is specified and the month is not a single digit, it will be treated as 'MM'.<br>
								<strong>DD/D:</strong> Two or one character representation of the day. If 'D' is specified and the day is not a single digit, it will be treated as 'DD'.<br>
								<strong>hh/h:</strong> Two or one character representation of the hour. If 'h' is specified and the hour is not a single digit, it will be treated as 'hh'.<br>
								<strong>mm/m:</strong> Two or one character representation of the minute. If 'm' is specified and the minute is not a single digit, it will be treated as 'mm'.<br>
								<strong>ss/s:</strong> Two or one character representation of the second. If 's' is specified and the second is not a single digit, it will be treated as 'ss'.<br>
								<strong>d/ddd:</strong> Full or three character short representation of the day of the week.<br>
								<strong>z:</strong> One of the timezones as listed <a href="/docs/timezones">here</a>.<br>
								<strong>o:</strong> Offset in +/-hh:mm:ss format with sign. If seconds not present formatted as +/-hh:mm. UTC offset is represented as Z.<br>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-inputformats" href="#ab-datetime">
								Date-Time
							</a>
						</div>
						<div id="ab-datetime" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>A string representing a particular date and time in a particular timezone.<br>
								<strong>Format:</strong> 'YYYY-MM-DD hh:mm:ss z'. z optional. Defaults to 'UTC'</p>								
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-inputformats" href="#ab-time">
								Time
							</a>
						</div>
						<div id="ab-time" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>A string representing a particular time with an optional timezone.<br>
								<strong>Format:</strong> 'hh:mm:ss z'. z optional. Defaults to 'UTC'.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-docs" href="#ab-responsecodes">
						Response Codes
					</a>
				</div>
				<div id="ab-responsecodes" class="accordion-body collapse accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-responsecodes" href="#ab-200">
								200 - OK
							</a>
						</div>
						<div id="ab-200" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>Request was successful. Results of the request available from result object.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-responsecodes" href="#ab-400">
								400 - Bad Request
							</a>
						</div>
						<div id="ab-400" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>Request was not successful. Possible reasons:<p>
								<p>One of the mandatory parameters required for that particular API call was missing. Check the API Endpoints section for mandatory API parameters.</p>
								<p>Time/date string improperly formatted. Check the <a data-toggle="collapse" href="/docs#ab-inputformats">input formats</a> section for proper formatting of time/date strings.</p>
								<p>Invalid time/date string provided. The time/date you provided did not exist in the specified timezone. This could be due to a change in standard time offset or due to DST changes.</p>
								<p>Invalid timezone provided. The timezone you provided is not supported by Timeninja. For a complete list of supported timezones <a href="/docs/timezones">check here</a>.</p>
								<p>The error and message properties of the response object should help you determine the exact cause of the error.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-responsecodes" href="#ab-401">
								401 - Unauthorized
							</a>
						</div>
						<div id="ab-401" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>Request was not successful. The API key you provided was invalid. Check that your API key is the same as mentioned in your <a href="/user/dashboard">dashboard</a>.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-responsecodes" href="#ab-404">
								404 - Not Found
							</a>
						</div>
						<div id="ab-404" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>Request was not successful. The API endpoint you tried to access was invalid. For a list of API endpoints check the <a data-toggle="collapse" href="/docs#ab-endpoints">API endpoints</a> section.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-responsecodes" href="#ab-429">
								429 - Too Many Requests
							</a>
						</div>
						<div id="ab-429" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>Request was not successful. You have exceeded your usage limit for this month. Upgrade to a larger plan to continue making requests. Currently usage limiting is not enforced, and hence this error will not be thrown, but it may be used in future.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#ab-responsecodes" href="#ab-500">
								500 - Internal Server Error
							</a>
						</div>
						<div id="ab-500" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>Request was not successful. A server error occurred while trying to fulfill your API request. These errors are usually transient and retrying should resolve them. If this error persists, <a href="mailto:support@timeninja.net">contact support</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-docs" href="#ab-usage">
						Usage Information
					</a>
				</div>
				<div id="ab-usage" class="accordion-body collapse">
					<div class="accordion-inner">
						<p>Each API request returns an object representing your API usage. This object is available as 'request' from any API response. It has the following components:<br>
						<strong>max:</strong> Total number of API requests allowed for your plan per month.<br>
						<strong>used:</strong> Number of API requests made till now this month.<br>
						<strong>available:</strong> Number of API requests remaining for your use this month.<br>
						Currently usage limiting is not enforced, and hence this usage report is strictly advisory. In future if/when usage limiting is implemented, the server will throw a 429 error when usage limit is exceeded.</p>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-docs" href="#ab-timezones">
						Supported Timezones
					</a>
				</div>
				<div id="ab-timezones" class="accordion-body collapse">
					<div class="accordion-inner">
						<p>A complete list of the timezones supported by Timeninja is available <a href="/docs/timezones">here</a>.<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/jquery.scrollto.1.4.6.js"></script>
<script type="text/javascript">
	$(window).ready(function(){
		$('a[data-toggle=collapse]:not(.accordion-toggle)').on('click', function(ev){
			var href = $(this).attr('href');
			href = $(href.substr(href.indexOf('#')));
			if(href.is('.in')){
				ev.stopPropagation();
				ev.preventDefault();
				$.scrollTo(href, {offset: -130}); 
			}
		});
		$('.accordion-body').on('show', function(){ 
			$.scrollTo(this, {offset: -130}); 
			$(this).parents('.accordion-body.accordion').collapse('show'); 
		});
		if(window.location.hash)
			$(window.location.hash).collapse('show');
	});
</script>
<% include footer %>