		</div>
		<div class="footer">
			<div class="closer">
				<div  class="container">
					<div class="row-fluid">
						<div class="span6">
							<p>&nbsp;</p>
							<p>Want to get started quickly? Check out the <a href="/docs">documentation</a>.</p>
							<p>Got questions? Shoot us an email. We're at <a href="mailto:support@timeninja.net">support@timeninja.net</a>.</p>
						</div>
						<% if(locals.footer && footer == 'login'){ %>
							<div class="span6">
								<p>Have you signed up for Timeninja previously?</p>
								<a href="/login" class="btn btn-large btn-primary">Login Now</a>
							</div>
						<% } else if(locals.footer && footer == 'password'){ %>
							<div class="span6">
								<p>Signed up for Timeninja previously and forgot your password?</p>
								<a href="/reset-password" class="btn btn-large btn-primary">Reset Password</a>
							</div>
						<% } else if(locals.footer && locals.footer == 'docs'){ %>
							<div class="span6">
								<p><big><!--Try it out now! It's completely free for the first 14 days.-->&nbsp;</big></p>
								<a href="/docs" class="btn btn-large btn-primary">View Documentation</a>
							</div>
						<% } else{ %>
							<div class="span6">
								<p><big>Try it out now! It's completely free.</big></p>
								<a href="/signup" class="btn btn-large btn-primary">Signup Now</a>
							</div>
						<% } %>
					</div>
				</div>
			</div>
			<div class="footer-inner">
				<div  class="container">
					<a href="/">Timeninja</a> -
					<a href="/terms">Terms and Conditions</a> - 
					<a href="/privacy">Privacy Policy</a> - 
					<a href="mailto:support@timeninja.net">Support</a>
				</div>
			</div>
		</div>
	</div>
	<% if(locals.environment && environment == 'production'){ %>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42902181-1', 'timeninja.net');
			ga('send', 'pageview');
		</script>
	<% } %>
</body>
</html>