<!doctype html>
<html>
<head>
	<title>Timeninja - <%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if(locals.environment && environment == 'development'){ %>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/css/app.css" rel="stylesheet">
	<% } else{ %>
		<link href="/css/app.min.css" rel="stylesheet">
	<% } %>
</head>
<body id="bg">
	<% if(locals.environment && environment == 'development'){ %>
		<script src="/js/jquery.1.10.2.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/app.js"></script>
	<% } else{ %>
		<script src="/js/app.min.js"></script>
	<% } %>
	<div class="page">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-arrow-down"></span>
					</a>
		    			<a class="brand" href="/"><img src="/img/logobrand.png"></img></a>
		    			<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li><a href="/#features">Features</a></li>
							<li><a href="/docs">Documentation</a></li>
							<% if(locals.user){ %>
								<li><a href="/user/dashboard">Dashboard</a></li>
								<li><a href="/logout">Logout</a></li>
							<% }else{ %>
								<li><a href="/signup">Signup</a></li>
								<li><a href="/login">Login</a></li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="page-body">
