<% include header %>
<div class="hero-unit">
	<div class="container">
		<h3>Timeninja - simple REST API for date and time conversion and arithmetic.</h3><br>
		<h3>Dealing with time is difficult. Dealing with the ninja is easy.</h3><br>
		<a href="/signup" class="btn btn-large btn-success">Try it out now, free!</a>
		<div id="features"><!-- Not exactly features, but this ensures that the top of the actual features is not obscured by fixed header--></div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<img src="./img/day.png"></img>
				<h3>Day for Date</h3>
				<p>Get the day of the week for any date.</p>
			</div>
			<div class="span6">
				<img src="./img/timezone.png"></img>
				<h3>Time Conversions</h3>
				<p>Convert between any two timezones accounting for DST offsets.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<img src="./img/arith.png"></img>
				<h3>Time Arithmetic</h3>
				<p>Add or subtract time and date in any timezone.</p>
			</div>
			<div class="span6">
				<img src="./img/diff.png"></img>
				<h3>Date Differences</h3>
				<p>Find the difference between any two dates in any timezone.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<img src="./img/historical.png"></img>
				<h3>Historical Time</h3>
				<p>Timeninja supports any time from 0AD to 9999AD.</p>
			</div>
		</div>
	</div>
</div>
<% include footer %>