<% include header %>
<div class="hero-unit">
	<% if(!locals.success){ %>
		<form action="/login" method="POST" novalidate>
			<div class="control-group container" id="cg-email" data-validate="email">
				<div class="controls input-prepend controls-tall">
					<label for="email" class="add-on">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email<i class="icon-mail"></i></label>
					<input type="email" id="email" name="email" class="input-xxlarge" placeholder="you+tag@example.com" value="<%= email || '' %>" data-focus="1"></input>
				</div>
			</div>
			<div class="control-group container" id="cg-password" data-validate="password">
				<div class="controls input-prepend controls-tall">
					<label for="password" class="add-on">Password<i class="icon-locked"></i></label>
					<input type="password" id="password" name="password" class="input-xxlarge" placeholder="correct-horse-battery-staple" data-focus="2"></input>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="hidden" name="_csrf" value="<%= csrf %>"></input>
					<button type="submit" class="btn btn-large btn-success" id="btn-login">Log Me In</button>
				</div>
			</div>
		</form>
	<% } %>
</div>
<script type="text/javascript">
	$(window).ready(function(){
		<% if(locals.error){ %>
			<% if(locals.error_type && error_type == 'email'){ %>
				app.showValidationError('#cg-email', '<%= error %>', {'email': '<%= email %>'});
			<% } else if(locals.error_type && error_type == 'pass'){ %>
				app.showValidationError('#cg-password', '<%= error %>', {'email': '<%= email %>'});
			<% } else if(!locals.error_type){ %>
				app.showValidationError('#cg-email', '<%= error %>', {'email': '<%= email %>'}, false);
			<% } %>
		<% } %>
	});
</script>
<% include footer %>