<% include header %>
<div class="hero-unit">
	<% if(locals.success){ %>
		<div class="container">
			<h4>&nbsp;</h4>
			<p>You have been logged out!</p>
			<h4>&nbsp;</h4>
			<a href="/login" class="btn btn-large btn-success">Log Back In</a>
		</div>
	<% } %>
</div>
<% include footer %>