<% include header %>
<% if(locals.nocharge){ %>
	<div class="hero-unit">
		<div class="container" id="pricing">
			<p>We currently have no plans of charging for Timeninja, but that might change in future if the service proves to be popular enough.</p>
			<h4>&nbsp;</h4>
			<a href="/signup" class="btn btn-large btn-success">Sign Up Now!</a>
		</div>
	</div>
<% } else{ %>
	<div class="container" id="pricing">
		<div class="row-fluid">
			<div class="span4 pricing-box">
				<div class="pricing-header label-holder">
					<h4>149.88 USD/yr</h4>
					(or)
					<h4>14.99 USD/mo</h4>
					<span class="label right">Premier Plan</span>
				</div>
				<div class="pricing-detail">
					<div>1,000,000 requests per month</div>
					<a href='/signup?plan=premier' class="btn btn-warning">Buy Now</a>
				</div>
			</div>
			<div class="span4 pricing-box highlight">
				<div class="pricing-header label-holder">
					<h3>99.88 USD/yr</h3>
					(or)
					<h4>9.99 USD/mo</h4>
					<span class="label right">Regular Plan</span>
				</div>
				<div class="pricing-detail">
					<div>100,000 requests per month</div>
					<a href='/signup?plan=regular' class="btn btn-large btn-success">Buy This Plan Now</a>
				</div>
			</div>
			<div class="span4 pricing-box">
				<div class="pricing-header label-holder">
					<h4>49.88 USD/yr</h4>
					(or)
					<h4>4.99 USD/mo</h4>
					<span class="label right">Starter Plan</span>
				</div>
				<div class="pricing-detail">
					<div>10,000 requests per month</div>
					<a href='/signup?plan=starter' class="btn btn-warning">Buy Now</a>
				</div>
			</div>
		</div>
		<div class="row-fluid pricing-footer">
			<div class="span12">
				<p></p>
			</div>
		</div>
	</div>
<% } %>
<% include footer %>