<% include header %>
<div id="terms" class="page">
	<div class="row-fluid container">
		<div class="span12">
			<h3>Privacy Policy</h3>
			<p>By using this website, the bookmarklet, or any service provided by Timeninja, you agree to the following Privacy Policy.</p>
			<textarea disabled="true">What information do we collect? 

We collect information from you when you register on our site. 

When ordering or registering on our site, as appropriate, you may be asked to enter your: name and e-mail address at http://www.timeninja.net. You may, however, visit our site anonymously.

Google, as a third party vendor, uses cookies to serve ads on your site. Google's use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.

What do we use your information for? 

Any of the information we collect from you may be used in one of the following ways: 

To personalize your experience (your information helps us to better respond to your individual needs);

To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you); 

To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs);

To process transactions (your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested);

To send periodic emails (the email address you provide for order processing, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc).


How do we protect your information? 

We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. 

Do we use cookies? 

Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information

We use cookies to help us remember and process the items in your shopping cart, understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.

Do we disclose any information to outside parties? 

We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.

Third party links 

Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

California Online Privacy Protection Act Compliance

Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.

As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their dashboard and clicking their email address at the top-right corner of the page.

Childrens Online Privacy Protection Act Compliance 

We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.

Online Privacy Policy Only 

This online privacy policy applies only to information collected through our website and not to information collected offline.

Terms and Conditions 

Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at http://www.timeninja.net/terms

Your Consent 

By using our site, you consent to our online privacy policy.

Changes to our Privacy Policy 

If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy Policy modification date below. 

This policy was last modified on 21, February 2013

Contacting Us 

If there are any questions regarding this privacy policy you may contact us using the information below. 

http://www.timeninja.net
84/2, Indira Colony
Chennai, Tamil Nadu 600083
India
support@easyproducttours.com

This policy is powered by Trust Guard PCI compliance.</textarea>
		</div>
		<div class="span12">
			Last Modified: 2, August 2013
		</div>
	</div>
</div>
<% include footer %>