<% include header %>
<div class="hero-unit">
	<% if(locals.success){ %>
		<div class="container">
			<h3>Your email address has been changed!</h3>
			<h4>&nbsp;</h4>
			<p>You can now login using your new email address.</p>
			<h4>&nbsp;</h4>
			<a href="/user/dashboard" class="btn btn-large btn-success">Goto Dashboard</a>
		</div>
	<% } else if(locals.error){ %>
		<div class="container">
			<h3>Something went wrong!</h3>
			<h4>&nbsp;</h4>
			<p>
				<% if(locals.error == 'code_required'){ %>
					A verification code is required to complete verifying your email. Please click the link in the verification email, or copy-paste the entire link into your browser.
				<% } else if(locals.error == 'code_invalid'){ %>
					The verification link was invalid. Please click the link in the verification email, or copy-paste the entire link into your browser.
				<% } else if(locals.error == 'code_expired'){ %>
					The verification link from your email expired. <a href="<%= resend_url %>">Click here</a> to send yourself a new verification email, and click the link in it within the next 24 hours.
				<% } else if(locals.error == 'server'){ %>
					Something went wrong while trying to verify your email. This is definitely our mistake. Try again, and if you're still having problems <a href="mailto:support@timeninja.net">contact support</a>.
				<% } %>
			</p>
		</div>
	<% } %>
</div>
<% include footer %>