@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
/* ICOMoon Fonts */
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-locked, .icon-mail, .icon-key, .icon-arrow-down {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	background-image: none;
}
.icon-locked:before {
	content: "\e000";
}
.icon-mail:before {
	content: "\e001";
}
.icon-key:before {
	content: "\e002";
}
.icon-arrow-down:before {
	content: "\e003";
}
/* App styles */
html, body, #bg{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	width: 100%;
	font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
	color: #ededed;
}
#bg { 
	background: url(../img/bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar {
	margin-bottom: 0;
	background-color: #0b0602;
	background-color: rgba(0,0,0,0.95);	
}
.navbar-fixed-top + *{
	padding-top: 60px;
}
.navbar-inner{
	filter: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid #000000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	min-height: 60px;
	box-sizing: border-box;
}
.navbar .brand {
	color: #ffffff;
	text-shadow: none;
	font-size: 26px;
	padding: 20px;
}
.navbar .brand img {
	margin: -20px 10px;
}
.navbar .nav > li > a {
	color: #ededed;
	text-shadow: none;
	padding: 21px 10px;
}
.navbar .btn-navbar {
	text-shadow: none;
	background-color: transparent;
	background-image: none;
	border-color: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 18px;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
	color: #ffffff;
	background-color: transparent;
	*background-color: transparent;
}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
	background-color: #000000 \9;
}
.nav-collapse .nav > li > a:hover,
.nav-collapse .nav > li > a:focus,
.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu a:focus {
	background-color: #000000;
	color: #ffffff;
}
.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a {
	font-weight: normal;
	color: #dddddd;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.container, .container-fluid{
	max-width: 1170px;
}
.row {
	margin-left: 10px;
}
#content, .dashboard-content-unit{
	background-color: rgba(0,0,0,0.85);
	padding-bottom: 20px;
	border: 1px solid #000000;
	color: #ededed;
}
.dashboard-content-unit{
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 0px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: lighter;
}
.hero-unit {
	background-color: transparent;
	color: #ffffff;
	text-align: center;
	padding-bottom: 10px;
}
.page{
	min-height: 100%;
	position: relative;
}
.page-body{
	padding-bottom: 180px;
}
.footer{
	height: 180px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.page .row-fluid > div{
	text-align: center;
}
.closer, .footer-inner{
	background-color: #000000;
}
.closer .container{
	padding: 30px 0px;
}
.footer-inner .container{
	padding-bottom: 10px;
}
.closer .container, .footer-inner .container{
	text-align: center;
}
a,
a:focus,
a:hover{
	color: #7b32dd;
	text-decoration: none;
}
.input-append .add-on,
.input-prepend .add-on {
	text-shadow: none;
	background-color: rgba(0,0,0,0.65);
	border: none;
}
.input-append .add-on i,
.input-prepend .add-on i{
	margin: 4px 3px 3px 5px;
}
.controls-tall .add-on{
	padding: 10px;
}
.controls-tall input, .controls-tall .btn{
	padding: 9px;
}
.pricing-box{
	margin: 60px 0px 20px 0px;
	background-color: rgba(0,0,0,0.65);
	border: 1px solid #000000;
	text-align: center;
}
.pricing-header{
	padding: 5px;
	background-color: rgba(0,0,0,0.65);
	border: 1px solid #000000;
}
.pricing-detail{
	padding: 20px;
	color: #dddddd;
}
.pricing-detail div{
	margin-bottom: 20px;
}
.pricing-box.highlight{
	margin-top: 40px;
	font-size: 16px;
}
.pricing-box.highlight .pricing-detail{
	padding: 30px;
}
.pricing-box .label{
	background-color: #d5871b;
	color: #ededed;
	text-shadow: none;
}
.pricing-footer-inner{
	text-align: center;
	margin-bottom: 20px;	
}
.label-holder{
	position: relative;
}
.label-holder .label{
	width: 85px;
	position: absolute;
	font-size: 14px;
	font-weight: normal;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: -1px;
	padding: 3px 10px;
}
.label-holder .label.top{
	top: 0px;
}
.label-holder .label.right{
	right: 0px;
}
.label-holder .label.left{
	left: 0px;
}
.label-holder .label.center{
	left: 50%;
	margin-left: -52px;
}
.btn-warning{
	background-color: #b9710c;
	*background-color: #b9710c;
	background-image: -moz-linear-gradient(top, #d5871b, #b9710c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d5871b), to(#b9710c));
	background-image: -webkit-linear-gradient(top, #d5871b, #b9710c);
	background-image: -o-linear-gradient(top, #d5871b, #b9710c);
	background-image: linear-gradient(to bottom, #d5871b, #b9710c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd5871b', endColorstr='#ffb9710c', GradientType=0);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
	color: #ffffff;
	background-color: #b9710c;
	*background-color: #b9710c;
}
.btn-warning:active,
.btn-warning.active {
	background-color: #b9710c \9;
}
.help-block{
	color: #ededed !important;
	font-size: 14px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: -10px;
}
#btn-signup, #btn-resend, #btn-login{
	margin-bottom: 20px;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
	color: #ffffff;
	background-color: rgba(255,0,0,0.65);
	border-color: #b94a48;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
	color: #ffffff;
	background-color: rgba(185,113,12,0.85);
	border-color: #b9710c;
}
#gg-usage{
	width: 100%;
}
#api-info{
	padding-top: 40px;
}
.tooltip{
	font-size: 13px;
}
.tooltip-inner{
	max-width: none;
}
.dashboard-content-unit .control-group .input-append .btn{
	width: 70px !important;
}
.hero-unit.dashboard{
	padding: 40px 60px 0px 60px;
}
.modal{
	border: 1px solid #670EA2;
	border-radius: 0px;	
}
.modal, .modal-footer{
	background-color: rgba(0,0,0,0.9);
	text-align: center;
}
.modal-header{
	border-bottom: none;
}
.modal-footer{
	border-top: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-align: left;
}
.close{
	color: #ffffff;
	opacity: 0.4;
}
.close:hover, .close:focus{
	color: #ffffff;
	opacity: 0.6;
}
.row1 .dashboard-content-unit{
	min-height: 256px;
}
.btn-primary {
  background-color: #6200cc;
  *background-color: #6200cc;
  background-image: -moz-linear-gradient(top, #7c00cc, #6200cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7c00cc), to(#6200cc));
  background-image: -webkit-linear-gradient(top, #7c00cc, #6200cc);
  background-image: -o-linear-gradient(top, #7c00cc, #6200cc);
  background-image: linear-gradient(to bottom, #7c00cc, #6200cc);
  border-color: #6200cc #6200cc #7c00cc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #6200cc;
  *background-color: #6200cc;
}
.btn-danger {
  background-color: #da4f49;
  *background-color: rgb(183,9,9);
  background-image: -moz-linear-gradient(top, rgb(193,9,9), rgb(183,9,9));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(193,9,9)), to(rgb(183,9,9)));
  background-image: -webkit-linear-gradient(top, rgb(193,9,9), rgb(183,9,9));
  background-image: -o-linear-gradient(top, rgb(193,9,9), rgb(183,9,9));
  background-image: linear-gradient(to bottom, rgb(193,9,9), rgb(183,9,9));
  border-color: rgb(183,9,9) rgb(183,9,9) rgb(193,9,9);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: rgb(183,9,9);
  *background-color: rgb(183,9,9);
}
#pricing{
	padding-top: 40px;
}
#terms .span12{
	text-align:center;
	margin-bottom:20px;
}
#terms .span12 textarea{
	width: 90%;
	height: 400px;
}
.accordion{
	margin-bottom: 0px;
}
.timezone-holder, .accordion-group{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid #000000;
}
.timezone-holder{
	margin: 20px auto;
}
.accordion-inner{
	border-top: none;
}
.accordion-body, .container > .timezone-holder > div{
	text-align: left;
}
.container > .timezone-holder > div{
	padding: 10px 20px;
}
#acc-docs{
	margin: 20px 0px;
}
.api, .example{
	margin: 20px 0px 10px 10px;
}
.input, .output{
	margin-top: 20px;
}
@media (max-width: 1200px) {
	.page-body{
		padding-bottom: 220px;
	}
	.footer{
		height: 220px;
	}
}
@media (max-width: 979px) {
	.navbar .brand {
		padding-right: 5px;
		padding-left: 5px;
		margin: 0 0 0 -25px;
	}
	.navbar .brand img {
		margin-left: 25px;
	}
	.hero-unit{
		padding: 20px;
		padding-bottom: 0px;
	}
	.footer .closer .container{
		padding: 20px;
	}
	.navbar-fixed-top + *{
		padding-top: 20px;
	}
	.pricing-box{
		margin-top: 20px;
	}
	.pricing-box.highlight{
		margin-top: 0px;
	}
	.page-body{
		padding-bottom: 200px;
	}
	.footer{
		height: 200px;
	}
}
@media (max-width: 767px) {
	body {
		padding: 0px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		margin: 0px;
	}
	.page-body{
		padding-bottom: 240px;
	}
	.footer{
		height: 240px;
	}
}
@media (max-width: 480px) {
	body {
		padding: 0px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		margin: 0px;
	}
	.page-body{
		padding-bottom: 320px;
	}
	.footer{
		height: 320px;
	}
}